<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books</title>
</head>
<body>
<div th:if="${books}">

    <div th:each="book: ${books}">
        <a th:href="@{/books/{id}(id=${book.getId()})}"
           th:text="${book.getAuthor() + ', ' + book.getTitle() + ', '+ book.getYear()}">books</a>
    </div>
    <br/>

    <a style="margin:0 10px; text-decoration: none;
    background-color: #4444;
    padding: 5px 20px;
    border-radius: 25px;
    color: #000;" th:href="@{'/books?page=' + 0+ '&size=2'}">pagination page</a>
</div>
<div th:if="${books_pagination}">

    <div th:each="book: ${books_pagination}">
        <a th:href="@{/books/{id}(id=${book.getId()})}"
           th:text="${book.getAuthor() + ', ' + book.getTitle() + ', '+ book.getYear()}">books</a>
    </div>
    <br/>

    <a style="margin:0 10px;text-decoration: none;
    background-color: #4444;
    padding: 5px 20px;
    border-radius: 25px;
    color: #000;" th:href="@{'/books?page=' + ${pagination.incrementAndGet()} + '&size=2'}">next</a>
    <a style="margin:0 10px; text-decoration: none;
    background-color: #4444;
    padding: 5px 20px;
    border-radius: 25px;
    color: #000;" th:href="@{'/books?page=' + ${pagination.decrementAndGet()} + '&size=2'}">previous</a>
    <br/>
    <a style="display: block;
    text-align: center;
    margin: 10px 10px; text-decoration: none;
    background-color: #4444;
    padding: 5px 20px;
    border-radius: 25px;
    color: #000;" th:href="@{'/books'}">return to all books</a>

</div>


<br/>
<hr/>
<a href="/books/new">Create new book</a>
</body>
</html>